.footer {
  background-color: #e0f2f1; /* pastel teal */
  padding: 20px;
  text-align: center;
  border-top: 3px solid #004d40; /* dark teal */
  width: 100%;
  bottom: 0;
  font-size: 14px;
  color: #004d40; /* dark teal */
  font-weight: 600;
}
